<br>
<br>
<div class="row">
  <div class="col-8 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="content layer">
      <div class="card-header shadow rounded">
        <h2 style="color: rgb(96, 96, 252); font-size: x-large;">Detail client</h2>
      </div>
      <br>
      <div *ngIf="client">
        <div>
          <label><b>Code client :</b></label> {{client.codeClient}}
        </div>
        <div>
          <label><b>Date cloture :</b></label> {{client.dateCloture}}
        </div>
        <div>
          <label><b>Forme juridique :</b></label> {{client.formeJuridique}}
        </div>
      </div>

      <br>
      <br>
      <button (click)="goToList()" class="btn btn-primary">Annuler</button><br>
    </div>
  </div>
</div>

