<div class="col-md-8">
	<div class="card card-container rounded shadow-lg">
	  <img
		id="profile-img"
		src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
		class="profile-img-card"
	  />
	  <form
		name="form"
		(ngSubmit)="f.form.valid && onSubmit()"
		#f="ngForm"
		novalidate
	  >
		<div class="form-group">
		  <label for="username">Username</label>
		  <input
			type="text"
			class="form-control"
			name="username"
			[(ngModel)]="form.username"
			required
			minlength="3"
			maxlength="20"
			#username="ngModel"
		  />

		  <div class="alert-danger" *ngIf="f.submitted && username.invalid">
			<mat-error *ngIf="username.hasError('required')">
				Username is <strong>required</strong>
			  </mat-error>
			  <mat-error *ngIf="username.hasError('minlength')">
				Username must be at least 3 characters
			  </mat-error>
			  <mat-error *ngIf="username.hasError('maxlength')">
				Username must be at most 20 characters
			  </mat-error>
		  </div>
		</div>
		<div class="form-group">
		  <label for="password">Password</label>
		  <input
			type="password"
			class="form-control"
			name="password"
			[(ngModel)]="form.password"
			required
			minlength="6"
			#password="ngModel"
		  />
		  <div class="alert-danger" *ngIf="f.submitted && password.invalid">
			<mat-error *ngIf="password.hasError('required')">
				Password is <strong>required</strong>
			  </mat-error>
			  <mat-error *ngIf="password.hasError('minlength')">
				Password must be at least 6 characters
			  </mat-error>
		  </div>
		</div>
		<div class="form-group">
		  <button class="btn btn-primary btn-block">Connexion</button>
    </div>
		<div class="alert alert-warning" *ngIf="f.submitted && isLoginFailed">
      Signup failed!<br />{{ errorMessage }}
      <button  type="button" (click)="inscrire()" style="font-size: x-small; color: rgb(26, 26, 170);">Veuillez s'inscrire</button>
		</div>
	  </form>

	  <div class="alert alert-success" *ngIf="isLoginSuccessful">
		  <a routerLink="/login">Your authentication is successful!</a>
	  </div>
	</div>
  </div>

