<br>
<div class="row">
  <div class="col-12 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="content layer">
      <div class="search-results">
        <div class="card">
          <div class="card-header container">
             <div class="d-flex">
              <div class="mr-auto p-2">
                <div class="taille">Liste clients</div>
              </div>
              <div class="p-2 search-info">Il y a {{clients?.length}} clients !!</div>
              <a class="p-2 bg-info text-white rounded" routerLink="/creer-client">Nouveau client</a>
            </div>
          </div>
          <div class="card-body rounded shadow-lg">
            <table class="table table-striped rounded shadow">
              <thead>
                 <tr>
                   <th>Code client</th>
                   <th>Date cloture</th>
                   <th>Forme juridique</th>
                   <th>Actions</th>
                 </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let client of clients">
                    <td>{{client.codeClient}}</td>
                    <td>{{client.dateCloture}}</td>
                    <td>{{client.formeJuridique}}</td>
                    <td sec:authorize="hasAnyAuthority('ADMIN')">
                      <button type="button" class="btn btn-info spacer" (click)="modifierClient(client.id)">Modifier</button>
                      <button type="button" class="btn btn-info spacer" (click)="supprimerClient(client.id)">Supprimer</button>
                      <button type="button" class="btn btn-info spacer" (click)="detailsClient(client.id)">Details</button>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

