<div id="app">
   <nav class="navbar navbar-expand navbar-dark bg-info">
     <a href="#" class="navbar-brand">Cabinet/Expertise</a>
     <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/clients" class="nav-link" routerLink="clients">Liste clients</a>
        <!-- <a href="/clients" class="nav-link" routerLink="clients">Liste clients</a> -->
      </li>
    </ul>

     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a href="/register" class="nav-link" routerLink="register">Inscription</a>
       </li>
       <li class="nav-item">
         <a href="/login" class="nav-link" routerLink="login">Connexion</a>
       </li>
     </ul>
 
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a href="/profile" class="nav-link" routerLink="profile"></a>
       </li>
       <li class="nav-item">
         <a href class="nav-link" routerLink="login">Se deconnecter</a>
       </li>
     </ul>
   </nav>
 
   <div class="container">
     <router-outlet></router-outlet>
   </div>
 </div>
