<br>
<br>
<div class="col-8 shadow-lg p-3 mb-5 bg-white rounded">
  <div class="container">
    <div class="card-header shadow-lg p-3 mb-5 bg-white rounded">
      <div style="color: rgb(94, 94, 247); font-size: x-large;">
        Ajout Client
      </div>
    </div>
  <div [hidden]="submitted" style="width: 400px;">
   <form (ngSubmit)="creerClient()">
    <div class="form-group">
      <label for="codeClient">Code client</label>
      <input type="text" class="form-control" id="codeClient" required [(ngModel)]="client.codeClient" name="codeClient">
    </div>

    <div class="form-group">
      <label for="dateCloture">Date de cloture</label>
      <input type="date" class="form-control" id="dateCloture" required [(ngModel)]="client.dateCloture" name="dateCloture">
    </div>

    <div class="form-group">
      <label for="formeJuridique">Forme juridique</label>
      <input type="text" class="form-control" id="formeJuridique" required [(ngModel)]="client.formeJuridique" name="formeJuridique">
    </div>

    <button type="submit" class="btn btn-info" style="margin-right: 40px;">Enregistrer</button>
    <button (click)="goToList()" class="btn btn-info">Annuler</button>

    </form>
   </div>
  </div>
</div>

