<div class="col-md-8">
	<div class="card card-container rounded shadow-lg">
	  <img
		id="profile-img"
		src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
		class="profile-img-card"
	  />
	  <form
		*ngIf="!isSuccessful"
		name="form"
		(ngSubmit)="f.form.valid && onSubmit()"
		#f="ngForm"
		novalidate
	  >
		<div class="form-group">
			<label for="name">Your name</label>
			<input
			type="text"
			class="form-control"
			name="name"
			[(ngModel)]="form.name"
			required
			minlength="3"
			maxlength="20"
			#name="ngModel"
			/>

			<div class="alert-danger" *ngIf="f.submitted && name.invalid">
			<mat-error *ngIf="name.hasError('required')">
				Name is <strong>required</strong>
				</mat-error>
				<mat-error *ngIf="name.hasError('minlength')">
					Name must be at least 3 characters
				</mat-error>
				<mat-error *ngIf="name.hasError('maxlength')">
					Name must be at most 20 characters
				</mat-error>
			</div>
		</div>
		<div class="form-group">
		  <label for="username">Username</label>
		  <input
			type="text"
			class="form-control"
			name="username"
			[(ngModel)]="form.username"
			required
			minlength="3"
			maxlength="20"
			#username="ngModel"
		  />

		  <div class="alert-danger" *ngIf="f.submitted && username.invalid">
			<mat-error *ngIf="username.hasError('required')">
				Username is <strong>required</strong>
			  </mat-error>
			  <mat-error *ngIf="username.hasError('minlength')">
				Username must be at least 3 characters
			  </mat-error>
			  <mat-error *ngIf="username.hasError('maxlength')">
				Username must be at most 20 characters
			  </mat-error>
		  </div>
		</div>
		<div class="form-group">
		  <label for="email">Email</label>
		  <input
			type="email"
			class="form-control"
			name="email"
			[(ngModel)]="form.email"
			required
			email
			#email="ngModel"
		  />
		  <div class="alert-danger" *ngIf="f.submitted && email.invalid">
			<mat-error *ngIf="email.hasError('required')">
				Email is <strong>required</strong>
			  </mat-error>
			  <mat-error *ngIf="email.hasError('email')">
				Email must be a valid email address
			  </mat-error>
		  </div>
		</div>
		<div class="form-group">
		  <label for="password">Password</label>
		  <input
			type="password"
			class="form-control"
			name="password"
			[(ngModel)]="form.password"
			required
			minlength="6"
			#password="ngModel"
		  />
		  <div class="alert-danger" *ngIf="f.submitted && password.invalid">
			<mat-error *ngIf="password.hasError('required')">
				Password is <strong>required</strong>
			  </mat-error>
			  <mat-error *ngIf="password.hasError('minlength')">
				Password must be at least 6 characters
			  </mat-error>
		  </div>
		</div>
		<div class="form-group">
		  <button class="btn btn-primary btn-block">Inscription</button>
    </div>
    <br>
    <br>
    <div class="form-group">
		  <button (click)="authentifier()" class="btn btn-info">Login</button> Si vous avez déjà inscrit !!
    </div>

		<div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
		  Signup failed!<br />{{ errorMessage }}
		</div>
	  </form>

	  <div class="alert alert-success" *ngIf="isSuccessful">
		  <a routerLink="/login">Your registration is successful!</a>
	  </div>
	</div>
  </div>
